body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f8fc;
  text-color: #333;
}


#btn {
  background-color:rgb(55, 150, 12); 
  color: black;             
  border: none;        
  padding: 5px 15px; 
  font-size: 15px;          
  border-radius: 3px;    
  cursor: pointer;          
  transition: background-color 0.3s ease;
  margin: 2px;
}

#btn:hover {
  background-color:rgb(4, 126, 13); 
}

#task {
  font-size: 15px;
  padding: 5px 10px;
  margin: 2px;
  
}

#date {
  font-size: 15px;
  padding: 5px 10px;
  margin: 2px;
}

#time {
  font-size: 15px;
  padding: 5px 10px;
  margin: 2px;
}

#task-form {
  padding: 5px;
  margin: 2px;
  
}